$acl-floating-cart-bg: #ffffff;
$acl-primary-color: #6b3ff1;
$acl-secondary-color: #17b33b;
$acl-light-color: #ffffff;
$acl-dark-color: #000000;
@import "focawo-global";
@import "mini-cart-list-02";